@import '../global.css';

.ant-table-thead > tr > th {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 16px;
  color: var(--fp-purple-medium) !important;
  background-color: var(--fp-white) !important;
}
.ant-slider {
  margin: 0 !important;
}
.ant-table-tbody > tr > td {
  position: relative;
}
.ant-table-tbody > tr > td:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 250;
  right: 0;
  height: 14px;
  width: 1px;
  background-color: rgba(235, 235, 245, 1);
}

.radicalFocus__container {
  height: calc(100dvh - 219px);
  overflow-y: auto;
}
.radical__menu__active__item {
  position: relative;
}
.radical__menu__active__item::after {
  content: '';
  position: absolute;
  z-index: 5;
  height: 2px;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--fp-blue-light);
}
.table__header__item {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 16px;
  color: var(--fp-purple-medium);
}
.table__item__border__right {
  position: relative;
}
.table__item__border__right::after {
  content: '';
  width: 1px;
  height: 14px;
  background: var(--fp-border);
  position: absolute;
  right: 0;
}
.red__clock {
  filter: brightness(0) saturate(100%) invert(12%) sepia(96%) saturate(4675%)
    hue-rotate(341deg) brightness(73%) contrast(107%);
}

/* objective */

.objective__type__col {
  width: 158px;
  min-width: 16%;
  flex-shrink: 0;
}
.objective__division__col {
  width: 104px;
  min-width: 11%;
  flex-shrink: 0;
}
.objective__responsible__col {
  width: 104px;
  min-width: 11%;
  flex-shrink: 0;
}
.objective__description__col {
  width: 305px;
  min-width: 31%;
  flex-shrink: 0;
}
.objective__dueDate__col {
  width: 120px;
  min-width: 13%;
  flex-shrink: 0;
}
.objective__progress__col {
  width: 172px;
  min-width: 18%;
  flex-shrink: 0;
}
.objective__achieved__col {
  width: 366px;
  min-width: 38%;
  flex-shrink: 0;
}
.objective__condition__col {
  width: 602px;
  min-width: 62%;
  flex-shrink: 0;
}

.objective__conditions {
  position: relative;
}
.objective__conditions::after {
  content: '';
  width: 1px;
  background: var(--fp-border);
  position: absolute;
  top: 21px;
  bottom: 21px;
  left: 0;
}


/* prioritized */

.priorities__task__col {
  width: 533px;
  min-width: 55%;
  flex-shrink: 0;
}
.priorities__dueDate__col {
  width: 144px;
  min-width: 15%;
  flex-shrink: 0;
}
.priorities__timeRemaining__col {
  width: 144px;
  min-width: 15%;
  flex-shrink: 0;
}
.priorities__priority__col {
  width: 144px;
  min-width: 15%;
  flex-shrink: 0;
}

/* KPIs */

.KPIs__date__div  .ant-picker-input > input {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
}

.KPIs__kpi__col {
  width: 240px;
  min-width: 19%;
  flex-shrink: 0;
}
.KPIs__responsible__col {
  width: 104px;
  min-width: 9%;
  flex-shrink: 0;
}
.KPIs__graph__col {
  width: 68px;
  min-width: 5%;
  flex-shrink: 0;
}
.KPIs__unit__col {
  width: 80px;
  min-width: 7%;
  flex-shrink: 0;
}
.KPIs__monthlyTarget__col {
  width: 124px;
  min-width: 10%;
  flex-shrink: 0;
}
.KPIs__monthlyActual__col {
  width: 124px;
  min-width: 10%;
  flex-shrink: 0;
}
.KPIs__monthPercentage__col {
  width: 124px;
  min-width: 10%;
  flex-shrink: 0;
}
.KPIs__YTDTarget__col {
  width: 124px;
  min-width: 10%;
  flex-shrink: 0;
}
.KPIs__priority__col {
  width: 124px;
  min-width: 10%;
  flex-shrink: 0;
}
.KPIs__lastUpdated__col {
  width: 124px;
  min-width: 10%;
  flex-shrink: 0;
}


/* media queries */

@media (max-width: 767px) {
  .radicalFocus__container {
    height: calc(100dvh - 185px);
  }
}