@import '../global.css';

.aside-item-selected {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background: var(--fp-white);
}
.aside-item-selected .svg-icon {
  filter: brightness(0) saturate(100%) invert(16%) sepia(79%) saturate(7394%)
    hue-rotate(246deg) brightness(86%) contrast(92%);
}
.aside-item-selected::before {
  content: '';
  position: absolute;
  background-image: url(../../assets/images/top_corner.png);
  top: -12px;
  right: 0;
  height: 12px;
  width: 12px;
}
.aside-item-selected::after {
  content: '';
  position: absolute;
  background-image: url(../../assets/images/bottom_corner.png);
  bottom: -12px;
  right: 0;
  height: 12px;
  width: 12px;
}
.aside-item:hover {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background: var(--fp-white);
}
.aside-item:hover::before {
  content: '';
  position: absolute;
  background-image: url(../../assets/images/top_corner.png);
  top: -12px;
  right: 0;
  height: 12px;
  width: 12px;
}
.aside-item:hover::after {
  content: '';
  position: absolute;
  background-image: url(../../assets/images/bottom_corner.png);
  bottom: -12px;
  right: 0;
  height: 12px;
  width: 12px;
}
.aside-item:hover .svg-icon {
  filter: brightness(0) saturate(100%) invert(16%) sepia(79%) saturate(7394%)
    hue-rotate(246deg) brightness(86%) contrast(92%);
}

/* ant sider menu */
.sider-collapsed {
  width: 0px !important;
  min-width: 0px !important;
  flex: 0 0 0px !important;
  max-width: 0px !important;
}
.ant-menu-root {
  padding: 0 24px !important;
  border: none !important;
}
.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}
.ant-menu-sub {
  background: var(--fp-white) !important;
}
.ant-menu-item,
.ant-menu-submenu-title:hover {
  background: var(--fp-white) !important;
}
.ant-menu-item {
  padding: 9px 0 !important;
  margin-inline: 0 !important;
  margin-block: 0 !important;
  width: 100% !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: var(--fp-purple-dark) !important;
}
.ant-menu-item-selected {
  color: var(--fp-blue-light) !important;
  background-color: inherit !important;
}
.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: var(--fp-blue-light) !important;
}
.ant-menu-submenu-arrow {
  inset-inline-end: 0 !important;
}
.ant-menu-light {
  color: var(--fp-purple-dark) !important;
  margin: 16px 0 !important;
}
.ant-menu-submenu-title {
  padding: 9px 0 !important;
  margin-inline: 0 !important;
  margin-block: 0 !important;
  width: 100% !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: var(--fp-purple-dark) !important;
}


@media (max-width: 767px) {
  .ant-menu-root {
    padding: 0 20px !important;
  }
  .ant-menu-light {
    margin: 12px 0 !important;
  }
}