@import '../assets/fonts/inter/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fp-bg: rgba(247, 247, 252, 1);
  --fp-purple-light: rgba(235, 235, 254, 1);
  --fp-purple-medium: rgba(171, 171, 194, 1);
  --fp-purple-dark: rgba(88, 88, 116, 1);
  --fp-blue-light: rgba(48, 48, 211, 1);
  --fp-blue-dark: rgba(10, 10, 168, 1);
  --fp-success-light: rgba(47, 194, 44, 1);
  --fp-success-dark: rgba(8, 150, 5, 1);
  --fp-success-bg: rgba(230, 242, 230, 1);
  --fp-orange: rgba(235, 160, 72, 1);
  --fp-warning-light: rgba(212, 125, 23, 1);
  --fp-warning-dark: rgba(178, 96, 0, 1);
  --fp-warning-bg: rgba(246, 231, 214, 1);
  --fp-danger-light: rgba(212, 33, 69, 1);
  --fp-danger-dark: rgba(178, 0, 36, 1);
  --fp-danger-bg: rgba(250, 235, 238, 1);
  --fp-body: rgba(26, 26, 51, 1);
  --fp-white: rgba(255, 255, 255, 1);
  --fp-border: rgba(235, 235, 245, 1);
}

body {
  margin: 0;
  padding: 0;
  color: var(--fp-body);
  background: var(--fp-bg);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

/* bg */

.fp-bg {
  background: var(--fp-bg);
}
.fp-purple-light-bg {
  background: var(--fp-purple-light);
}
.fp-purple-medium-bg {
  background: var(--fp-purple-medium);
}
.fp-purple-dark-bg {
  background: var(--fp-purple-dark);
}
.fp-blue-light-bg {
  background: var(--fp-blue-light);
}
.fp-blue-dark-bg {
  background: var(--fp-blue-dark);
}
.fp-success-light-bg {
  background: var(--fp-success-light);
}
.fp-success-dark-bg {
  background: var(--fp-success-dark);
}
.fp-success-bg {
  background: var(--fp-success-bg);
}
.fp-orange-bg {
  background: var(--fp-orange);
}
.fp-warning-light-bg {
  background: var(--fp-warning-light);
}
.fp-warning-dark-bg {
  background: var(--fp-warning-dark);
}
.fp-warning-bg {
  background: var(--fp-warning-bg);
}
.fp-orange-bg {
  background: var(--fp-orange);
}
.fp-danger-light-bg {
  background: var(--fp-danger-light);
}
.fp-danger-dark-bg {
  background: var(--fp-danger-dark);
}
.fp-danger-bg {
  background: var(--fp-danger-bg);
}
.fp-white-bg {
  background: var(--fp-white);
}

/* color */

.fp-body {
  color: var(--fp-body);
}
.fp-purple-light-ft {
  color: var(--fp-purple-light);
}
.fp-purple-medium-ft {
  color: var(--fp-purple-medium);
}
.fp-purple-dark-ft {
  color: var(--fp-purple-dark);
}
.fp-blue-light-ft {
  color: var(--fp-blue-light);
}
.fp-blue-dark-ft {
  color: var(--fp-blue-dark);
}
.fp-success-light-ft {
  color: var(--fp-success-light);
}
.fp-success-dark-ft {
  color: var(--fp-success-dark);
}
.fp-success-bg-ft {
  color: var(--fp-success-bg);
}
.fp-orange-ft {
  color: var(--fp-orange);
}
.fp-warning-light-ft {
  color: var(--fp-warning-light);
}
.fp-warning-dark-ft {
  color: var(--fp-warning-dark);
}
.fp-warning-bg-ft {
  color: var(--fp-warning-bg);
}
.fp-orange-ft {
  color: var(--fp-orange);
}
.fp-danger-light-ft {
  color: var(--fp-danger-light);
}
.fp-danger-dark-ft {
  color: var(--fp-danger-dark);
}
.fp-danger-bg-ft {
  color: var(--fp-danger-bg);
}
.fp-white-ft {
  color: var(--fp-white);
}

/* font */
.heading-4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0;
}
.heading-5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
}
.heading-6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}
.m-caption-1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
}
.m-caption-2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
}
.sb-caption-1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0;
}
.sb-caption-2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0;
}
.sb-caption-3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}
.sb-caption-4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}
.body-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
}
.body-3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
}
.show-more-ft {
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.border-fp {
  border-color: var(--fp-border);
}

@media (max-width: 767px) {
  .heading-4 {
    font-size: 18px;
  }
}
